/* GENERAL BODY STYLES */

body {
  font-family: Georgia, serif;
}

h1, h2, h3 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-weight: 300;
}

section {
  padding-bottom: 35px;
}

ol, ul {
  padding-left: 0;
}

li {
  margin: 5px 0;
}

img {
  margin-bottom: 15px;
  border: #ffffff 5px solid;
}

.byline {
  font-style: italic;
}

.subheader {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 35px 20px;
}

/* LAYOUT STYLES */

section.blue-background {
  background: #60A8AD;
  color: #ffffff;
}

section.white-background {
  color: #2A2A2A;
}

header h1 {
  margin-bottom: 0;
}

header p {
  margin-top: 0;
}

header nav ul li {
  display: inline-block;
  margin-right: 15px;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #c5dfe1;
}

.contact-link {
  margin-bottom: 15px;
}

.contact-link h3 {
  margin-bottom: 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Clearfix
 * Adding a 'clearfix' class will allow parent elements to contain a floated child element
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
